.map-generator {
  max-width: 100%;
  max-height: 100%;
  background: none;
}

.address-box {
  border-left: 1px #e4504d solid;
}

.contact-element {
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #e4504d;
  display: inline-block;
  width: 450px;
  padding: 5px 10px;
  border: 2px solid gold;
  border-radius: 25px;
  color: #fff;

  a {
    color: #fff;
  }

  & i {
    margin-right: 5px;
  }
}

.social-icons {
  font-size: 45px;
  margin-right: 10px;
  &:hover {
    scale: 1.05;
  }
}

.utility-mv-up {
  transform: translateY(-12px);
  &:hover {
    scale: 1.05;
  }
}

@media (max-width: 768px) {
  .address-box {
    border: none;
  }
}
