footer {
  background-color: $navbar1;
  color: white;
  font-family: Montserrat, sans-serif;
  margin-top: 5rem;
  padding: 25px;
}

.mainFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 0 0;
  img {
    width: 25%;
    align-self: flex-start;
  }
}

@media (max-width: 768px) {
  .mainFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 0;
    img {
      width: 50%;
      align-self: center;
      margin-bottom: 10px;
    }
    ul {
      margin-bottom: 5px;
    }
  }
}
