@use "../components/section_headings.scss" as *;

$navbar2: #e4504d;

.latest-container {
  position: relative;
}

// align the slide box

.latest {
  position: relative;
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.1)
    ),
    url("../img/vecteezy_answer-sheets-on-table_10217462.webp") center no-repeat;
  background-size: cover;

  width: 75%;
  height: 90vh;
  // border: 5px double $navbar2;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

// // fixing the height of slide

.slider {
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.5s linear;

  .slide {
    width: 100%;
    height: 100%;

    // border: 1px red solid;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// control button styles

.controls {
  position: absolute;
  font-size: 45px;
  color: red;
  cursor: pointer;

  &:hover {
    font-size: 48px;
    box-shadow: 0px 0px 5px red;
  }
}

.next {
  top: 50%;
  right: 5%;
}

.prev {
  top: 50%;
  left: 5%;
}

@media (max-width: 576px) {
  .latest {
    width: 80vw;
    height: 70vh;
  }

  .next {
    top: 50%;
    right: -5%;
  }

  .prev {
    top: 50%;
    left: -5%;
  }

  .controls {
    position: absolute;
    font-size: 45px;
    color: red;
    cursor: pointer;

    &:hover {
      font-size: 45px;
      box-shadow: none;
    }
  }
}
