html {
  overflow-x: hidden;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  // background-color: rgba(236, 93, 93, 0.2);
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
}

main {
  padding: 20px;
}

// colors

$navbar1: #740705;
$navbar2: #e4504d;
$navbarMiddle: #631715;
$sidemenuLeftBG: #dae6e4;
$sidemenuTitle: #d26e6c;

.display-toggle {
  display: block !important;
}

.gototop {
  position: fixed;
  font-size: 40px;
  z-index: 101;
  bottom: 2%;
  right: 5%;
  display: none;
}

// imports

// custom bootstrap

@import "./custom";
// navbar
@import "./sections/navbar.scss";

// sidemenu
@import "sections/sidemenu.scss";

// modals
@import "./sections/modals.scss";

// footer
@import "./sections/footer.scss";

// latest
@import "./sections/latest.scss";

// page end designs
@import "./sections/pageend.scss";

// youtube section
@import "./sections/youtube.scss";

//contact us
@import "./sections/contactus.scss";

// linkbar
@import "./sections/rightsidelinks.scss";

// form
@import "./sections/formContainer.scss";

@media (max-width: 992px) {
  .latest-container {
    margin-top: 70px;
  }
}
