// html reset

:root {
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  // background-color: rgba(236, 93, 93, 0.2);
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  padding: 20px;
}

// colors

$navbar1: #740705;
$navbar2: #e4504d;
$navbarMiddle: #631715;
$sidemenuLeftBG: #dae6e4;
$sidemenuTitle: #d26e6c;

// imports
// navbar
@import "./sections/navbar.scss";

// sidemenu
@import "sections/sidemenu.scss";

// modals
@import "./sections/modals.scss";

// footer
@import "./sections/footer.scss";

// latest
@import "./sections/latest.scss";
