*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  padding: 20px;
}

.display-toggle {
  display: block !important;
}

.marathi {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
}

header {
  background: linear-gradient(to right, #740705 20%, #e4504d);
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat, sans-serif;
}

.menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.menu-list-item {
  position: relative;
  padding: 10px 0;
}
.menu-list-item-link {
  color: #fff;
  text-decoration: none;
}

.menu-list-item:hover {
  text-decoration: underline;
}
.menu-list-item:hover .menu-dropdown {
  display: block;
  top: 100%;
  z-index: 1;
  opacity: 1;
}

.menu-dropdown {
  position: absolute;
  background-color: #e4504d;
  list-style: none;
  padding: 0;
  width: max-content;
  z-index: -1;
  opacity: 0;
  top: 100%;
  border: 1px solid #740705;
  box-shadow: #000 1px 5px 10px;
  transition: all 0.2s linear;
}
.menu-dropdown .sub-list-item {
  margin-bottom: 5px;
}
.menu-dropdown .sub-list-item .sub-list-item-link {
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}

.sub-list-item:hover {
  background-color: #fff;
}
.sub-list-item:hover .sub-list-item-link {
  color: #000;
}

.QA {
  display: none;
  padding-left: 35px;
  margin: 5px;
}
.QA-link {
  background-color: rgb(88, 88, 249);
  padding: 5px;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}
.QA-link:hover {
  background-color: blue;
}

@media (max-width: 992px) {
  header {
    background: #740705;
  }
  .menu-list {
    display: none;
  }
}
.sidemenu-button-wrap {
  display: none;
  border: #fff 2px solid;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}
.sidemenu-button-wrap i {
  color: #fff;
  font-size: 20px;
}

.sidemenu-button-wrap:hover {
  background-color: #fff;
  border: 2px #000 solid;
}
.sidemenu-button-wrap:hover i {
  color: #000;
}

.btn-active {
  background-color: #fff;
  border: 2px #000 solid;
}
.btn-active i {
  color: #000;
}

.sidemenu-left {
  position: absolute;
  background-color: #dae6e4;
  height: 100vh;
  width: 50%;
  left: -100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 1px 5px 5px #000;
  transition: all 0.3s ease-in-out;
}
.sidemenu-left .downloads {
  margin: 10px 0 20px 20px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #740705;
}

.list-card {
  margin: 15px 15px;
  padding: 5px;
}
.list-card h6 {
  background-color: #d26e6c;
  padding: 5px;
}

.list-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-card ul li {
  border-bottom: #ccc solid 1px;
}

.list-card ul li a {
  text-decoration: none;
}

.sidemenu-right {
  position: absolute;
}

main {
  position: relative;
}

.QAS {
  display: none;
  margin: 5px;
}
.QAS .QAS-link {
  background-color: rgb(88, 88, 249);
  padding: 5px;
  color: #fff;
  width: 100%;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}
.QAS .QAS-link:hover {
  background-color: blue;
}

@media (max-width: 992px) {
  .sidemenu-button-wrap {
    display: block;
  }
}
@media (max-width: 768px) {
  .sidemenu-left {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .sidemenu-left {
    width: 90%;
  }
  .list-card {
    padding: 0px;
  }
}
@media (max-width: 575px) {
  .sidemenu-left {
    width: 100%;
  }
  .list-card {
    padding: 0px;
  }
}
.modal {
  opacity: 1;
  z-index: 1001;
  transition: all 0.3s linear;
  display: block !important;
}

#startupmodal {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/freepikcommodal.jpg") center center no-repeat;
  background-size: cover;
  padding: 20px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  transform: translateY(30%);
}

.modal-close {
  color: red;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

footer {
  background-color: #740705;
  color: white;
  font-family: Montserrat, sans-serif;
  margin-top: 5rem;
}

.sec-heading {
  background-color: #d26e6c;
  padding: 5px;
  display: inline-block;
  text-decoration: underline;
  font-size: 20px;
}

.latest-container {
  position: relative;
}

.latest {
  position: relative;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1)), url("../img/vecteezy_answer-sheets-on-table_10217462.jpg") center no-repeat;
  background-size: cover;
  width: 75%;
  height: 90vh;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.slider {
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.5s linear;
}
.slider .slide {
  width: 100%;
  height: 100%;
}
.slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.controls {
  position: absolute;
  font-size: 45px;
  color: red;
  cursor: pointer;
}
.controls:hover {
  font-size: 48px;
  box-shadow: 0px 0px 5px red;
}

.next {
  top: 50%;
  right: 5%;
}

.prev {
  top: 50%;
  left: 5%;
}

@media (max-width: 576px) {
  .latest {
    width: 80vw;
    height: 70vh;
  }
  .next {
    top: 50%;
    right: -5%;
  }
  .prev {
    top: 50%;
    left: -5%;
  }
  .controls {
    position: absolute;
    font-size: 45px;
    color: red;
    cursor: pointer;
  }
  .controls:hover {
    font-size: 45px;
    box-shadow: none;
  }
}
.page-end {
  margin-top: 20px;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.page-end img {
  width: 200px;
}

.youtube-container {
  background-color: #e4504d;
  margin: 0 -5px;
  height: auto;
  padding-bottom: 35px;
}
.youtube-container iframe {
  margin-top: 20px;
  width: 90%;
  aspect-ratio: 3/2;
}

.youtube-logo {
  box-shadow: 0px 10px 19px black;
}

.map-generator {
  max-width: 100%;
  max-height: 100%;
  background: none;
}

.address-box {
  border-left: 1px #e4504d solid;
}

.contact-element {
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #e4504d;
  display: inline-block;
  width: 50%;
  padding: 5px 10px;
  border: 2px solid gold;
  border-radius: 25px;
  color: #fff;
}
.contact-element a {
  color: #fff;
}
.contact-element i {
  margin-right: 5px;
}

.social-icons {
  font-size: 45px;
  margin-right: 10px;
}
.social-icons:hover {
  scale: 1.05;
}

.utility-mv-up {
  transform: translateY(-12px);
}
.utility-mv-up:hover {
  scale: 1.05;
}

@media (max-width: 768px) {
  .address-box {
    border: none;
  }
  .contact-element {
    width: 100%;
  }
}
@media (max-width: 465px) {
  .contact-element a {
    display: block;
  }
  .contact-element span {
    display: block;
    word-wrap: break-word;
  }
}

/*# sourceMappingURL=styles.css.map */
