*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.marathi {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
}

header {
  background: linear-gradient(to right, #740705 20%, #e4504d);
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.menu-list-item {
  position: relative;
  padding: 10px 0;
}
.menu-list-item-link {
  color: #fff;
  text-decoration: none;
}

.menu-list-item:hover {
  text-decoration: underline;
}
.menu-list-item:hover .menu-dropdown {
  display: block;
  top: 100%;
  z-index: 1;
  opacity: 1;
}

.menu-dropdown {
  position: absolute;
  background-color: #e4504d;
  list-style: none;
  padding: 0;
  width: max-content;
  z-index: -1;
  opacity: 0;
  top: 100%;
  border: 1px solid #740705;
  box-shadow: #000 1px 5px 10px;
  transition: all 0.2s linear;
}
.menu-dropdown .sub-list-item {
  margin-bottom: 5px;
}
.menu-dropdown .sub-list-item .sub-list-item-link {
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}

.sub-list-item:hover {
  background-color: #fff;
}
.sub-list-item:hover .sub-list-item-link {
  color: #000;
}

@media (max-width: 992px) {
  header {
    background: linear-gradient(to left, #e4504d, #631715, #e4504d);
  }
  .menu-list {
    display: none;
  }
}
.sidemenu-button-wrap {
  display: none;
  border: #fff 2px solid;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}
.sidemenu-button-wrap i {
  color: #fff;
  font-size: 20px;
}

.sidemenu-button-wrap:hover {
  background-color: #fff;
  border: 2px #000 solid;
}
.sidemenu-button-wrap:hover i {
  color: #000;
}

.btn-active {
  background-color: #fff;
  border: 2px #000 solid;
}
.btn-active i {
  color: #000;
}

.sidemenu-left {
  position: absolute;
  background-color: #dae6e4;
  height: 100vh;
  width: 50%;
  left: -100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 1px 5px 5px #000;
  transition: all 0.3s ease-in-out;
}
.sidemenu-left .downloads {
  margin: 10px 0 20px 20px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.list-card {
  margin: 15px 15px;
  padding: 5px;
}
.list-card h6 {
  background-color: #d26e6c;
  padding: 5px;
}

.list-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-card ul li {
  border-bottom: #ccc solid 1px;
}

.list-card ul li a {
  text-decoration: none;
}

.sidemenu-right {
  position: absolute;
}

main {
  position: relative;
}

@media (max-width: 992px) {
  .sidemenu-button-wrap {
    display: block;
  }
}
@media (max-width: 768px) {
  .sidemenu-left {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .sidemenu-left {
    width: 90%;
  }
  .list-card {
    padding: 0px;
  }
}
@media (max-width: 575px) {
  .sidemenu-left {
    width: 100%;
  }
  .list-card {
    padding: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
